.container {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.container > button {
  white-space: nowrap;
  cursor: pointer;
}
.container > button:not(:last-child) {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #000;
}
